* {
    font-family: Barlow Condensed;
}

body {
    background-color: #222428;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.generator-container {
    margin-top: 11.875rem; /* 190px */
    display: flex;
    flex-direction: column;
}

.generated-input-container {
    display: flex;
    justify-content: center;
}

.generator-input {
    width: 35.625rem; /* 570px */
    height: 1.875rem; /* 30px */
    background-color: #D9D9D9;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem; /* 20px */
    color: #000000;
}

.generator-button-copy {
    margin-left: 0.4375rem; /* 7px */
    background-color: #D9D9D9;
    border: none;
    cursor: pointer;
    width: 2.8125rem; /* 45px */
    height: 2rem; /* 32px */
    font-weight: 600;
    color: #000000;
}

.generator-input-container {
    margin-top: 3.75rem; /* 60px */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1.5rem; /* 24px */
}

.generator-checkbox-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.generator-label-container {
    cursor: pointer;
    width: 10.0625rem; /* 161px */
}

.span-checkbox {
    color: #FFFFFF;
    font-size: 1.125rem; /* 18px */
    font-style: normal;
    font-weight: 400;
    margin-left: 0.9375rem; /* 15px */
}

.generator-size-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.25rem; /* 36px */
}

.generator-size-label-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem; /* 8px */
}

.generator-size-number-input {
    width: 1.875rem; /* 30px */
    color: #000000;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    text-align: center;
}

.generator-size-span {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
}

.generator-range-container {
    display: flex;
    justify-content: center;
}

.generate-pass-button {
    width: 42.1875rem; /* 675px */
    height: 2.5rem; /* 40px */ 
    margin-top: 2.5rem; /* 40px */ 
    background-color: #FF62AF;
    border-radius: 0.75rem; /* 12px */
    border: none;
    font-weight: 600;
    font-size: 0.9375rem; /* 15px */
    cursor: pointer;
    color: #000000;
}

.generate-pass-button:hover {
    background-color: #757575;
    color: #FFFFFF;
}

/* TOOLTIP CLIPBOARD */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 10.625rem; /* 170px */ 
    background-color: #555;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0.375rem; /* 6px */
    padding: 0.3125rem; /* 5px */ 
    position: absolute;
    z-index: 1;
    bottom: 140%;
    margin-left: -4.6875rem; /* -75px */ 
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 400;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem; /* -5px */ 
    border-width: 0.3125rem; /* 5px */ 
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* CUSTOM RANGE */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 25rem; /* 400px */ 
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 1rem; /* 16px */ 
    margin-top: 0.75rem; /* 12px */ 
}

/* line */
input[type="range"]::-webkit-slider-runnable-track {
    height: 0.75rem; /* 12px */ 
    background: #FFFFFF;
    border-radius: 1rem; /* 16px */ 
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 0.75rem; /* 12px */ 
    background: #FFFFFF;
    border-radius: 1rem; /* 16px */ 
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.75rem; /* 12px */ 
    width: 0.75rem; /* 12px */ 
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 0.125rem solid #4ED7F5; /* 2px */
    box-shadow: -407px 0 0 400px #4ED7F5;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 0.75rem; /* 12px */ 
    width: 0.75rem; /* 12px */ 
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #4ED7F5;
    box-shadow: -407px 0 0 400px #4ED7F5;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .generator-container {
        margin-top: 9.375rem; /* 150px */
    }
}

@media screen and (max-width: 767px) {
    .generator-container {
        margin-top: 10rem; /* 160px */ 
    }

    .generator-input {
        width: 15.625rem; /* 250px */ 
        font-size: 1.125rem; /* 18px */ 
    }

    .generator-button-copy {
        margin-left: 0.3125rem; /* 5px */ 
    }

    .generator-input-container {
        margin-top: 2.8125rem; /* 45px */ 
    }

    .generator-label-container {
        width: 8.875rem; /* 142px */ 
    }

    .span-checkbox {
        font-size: 1rem; /* 16px */
        margin-left: 0.625rem; /* 10px */ 
    }

    .generator-size-span {
        font-size: 1rem; /* 16px */ 
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        width: 16.5625rem; /* 265px */ 
        cursor: pointer;
        outline: none;
        overflow: hidden;
        border-radius: 1rem; /* 16px */ 
        margin-top: 0.75rem; /* 12px */ 
    }

    .generate-pass-button {
        width: 20rem; /* 320px */ 
    }
}