.test-container {
    margin-top: 11.875rem; /* 250px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem; /* 24px */
}

.test-input {
    width: 35.625rem; /* 570px */
    height: 1.875rem; /* 30px */
    background-color: #D9D9D9;
    border: none;
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem; /* 20px */
    color: #000000;
}

.test-container-result {
    margin-top: 0.875rem; /* 14px */
    display: flex;
    flex-direction: column;
}

.test-container-result-progress {
    display: flex;
    justify-content: center;
}

.test-progressbar {
    width: 25rem;
}

.test-container-result-text {
    display: flex;
    justify-content: center;
}

.test-result-text {
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    margin-top: -1px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .test-container {
        margin-top: 9.375rem; /* 150px */
    }
}

@media screen and (max-width: 767px) {
    .test-container {
        margin-top: 10rem; /* 160px */ 
    }

    .test-input {
        width: 305px; /* 305px */ 
        font-size: 1.125rem; /* 18px */ 
    }

    .test-progressbar {
        width: 15rem; /* 240px */
    }

    .test-result-text {
        font-size: 1rem; /* 16px */
    }
}